# // -----------------------------------------------------------------------------
# // --                                                                         --
# // --                   (C) 2016-2022 Revanth Kamaraj (krevanth)              --
# // --                                                                         -- 
# // -- --------------------------------------------------------------------------
# // --                                                                         --
# // -- This program is free software; you can redistribute it and/or           --
# // -- modify it under the terms of the GNU General Public License             --
# // -- as published by the Free Software Foundation; either version 2          --
# // -- of the License, or (at your option) any later version.                  --
# // --                                                                         --
# // -- This program is distributed in the hope that it will be useful,         --
# // -- but WITHOUT ANY WARRANTY; without even the implied warranty of          --
# // -- MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the           --
# // -- GNU General Public License for more details.                            --
# // --                                                                         --
# // -- You should have received a copy of the GNU General Public License       --
# // -- along with this program; if not, write to the Free Software             --
# // -- Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA           --
# // -- 02110-1301, USA.                                                        --
# // --                                                                         --
# // -----------------------------------------------------------------------------

%Config = ( 
        ONLY_CORE                   => 0,
        DATA_CACHE_SIZE             => 4096,    # Data cache size in bytes
        CODE_CACHE_SIZE             => 4096,    # Instruction cache size in bytes
        CODE_SECTION_TLB_ENTRIES    => 8,       # Instruction section TLB entries.
        CODE_SPAGE_TLB_ENTRIES      => 32,      # Instruction small page TLB entries.
        CODE_LPAGE_TLB_ENTRIES      => 16,      # Instruction large page TLB entries.
        CODE_FPAGE_TLB_ENTRIES      => 32,
        DATA_SECTION_TLB_ENTRIES    => 8,       # Data section TLB entries.
        DATA_SPAGE_TLB_ENTRIES      => 32,      # Data small page TLB entries.
        DATA_LPAGE_TLB_ENTRIES      => 16,      # Data large page TLB entries.
        DATA_FPAGE_TLB_ENTRIES      => 32,
        BP_DEPTH                    => 1024,    # Branch predictor depth.
        INSTR_FIFO_DEPTH            => 4,       # Instruction buffer depth.
        DATA_CACHE_LINE             => 64,
        CODE_CACHE_LINE             => 64,

        DEBUG_EN                    => 1,       # 1 allows debug messages.

        MAX_CLOCK_CYCLES            => 1000,    # Clock cycles to run the simulation for.
        REG_CHECK                   => {
                                        "r0" => "32'hFFFFFFFF",
                                        "r1" => "32'd20",
                                        "r2" => "32'd20",
                                        "r3" => "32'd10",
                                        "r4" => "32'd40",
                                        "r5" => "32'd30",
                                        "r6" => "32'd40",
                                        "r7" => "32'd1"
                                        },
        FINAL_CHECK                 => {}
);

